<!--
  Generated template for the ProductDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ProductDetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <ion-card>
   <img src={{image}}>

   <ion-card-header>
     <ion-item>Nombre: <p>{{name}}</p></ion-item>
     <ion-item>Descripcion: <p>{{description}}</p></ion-item>
     <ion-item>Precio: <p>{{price}}</p></ion-item>
   </ion-card-header>

   </ion-card>

  
  <ion-card class="comentario" *ngFor="let comment of comments">
    <ion-item>
      <ion-avatar item-left>
        <img src={{comment.userImage}}>
      </ion-avatar>
      <h2>{{comment.username}}</h2>
    </ion-item>
    <ion-card-content>
      <p>{{comment.text}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer no-border-bottom>
<ion-row>
  <ion-col width-80>
  <ion-item >
    <ion-textarea type="text" [(ngModel)]="comentario" placeholder="Agrega un comentario"></ion-textarea>
  </ion-item>
  </ion-col>
  <ion-col width-20>
    <button ion-fab class="item-fab" color="secondary" (click)="addComment(key)">
      <ion-icon name="send"></ion-icon>  
    </button>
  </ion-col>
</ion-row>
</ion-footer>
