<!--
  Generated template for the Publicaciones page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
  <ion-row  color="secondary">
    <ion-col width-10>
     <button ion-button menuToggle>
     <ion-icon name="menu"></ion-icon>  
     </button>
    </ion-col>
    <ion-col width-90>
  	<ion-searchbar
 		placeholder="¿Buscas algo en especifico?" >
    </ion-searchbar>  
    </ion-col>
  </ion-row>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-card *ngFor="let product of products" >
      <ion-row>
        <ion-col col-3 (click)="viewDetail(product.key)">
          <ion-avatar>
            <img class="imagen" src={{product.image}}>
          </ion-avatar>
        </ion-col>
        <ion-col col-6 (click)="viewDetail(product.key)">
          <ion-row>Producto: {{product.name}}</ion-row>
          <ion-row>Precio: {{product.price}}</ion-row>
        </ion-col>
        <ion-col col-3>
          <button  ion-button icon-left clear small (click)="favorite(product)">
            <ion-icon *ngIf="!isFavorite(product)" color="light" name="thumbs-up"></ion-icon>
            <ion-icon *ngIf="isFavorite(product)" name="thumbs-up" color="danger"></ion-icon>
          </button>
     
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
