page-formulario {
      .item-avatar{
    overflow: hidden;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .center{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
.content {
  background-color:#FFA500;
}

  .card-md {
    margin: 10px 10px 10px 10px;
    width: calc(100% - 20px);
    border-radius: 2px;
    font-size: 1.4rem;
;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

input{
    font-size: 1.5rem;
  }

ion-select {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100%;
}


ion-avatar img, ion-thumbnail img {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 60%;
    margin-left: auto;
    margin-right: auto;
}

ion-label {
    display: block;
    overflow: hidden;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    color: white;
    font-size: 120%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

  p {
    font-size: 0.8em;
    color: #d2d2d2;
     margin-left: 10px;
  }

  .invalid {
    border: 1px solid #8B0000;
  }
.item-content {
  background-color:#FF8C00;
  $text-color:#FFFFFF;
}
.h1style{

    padding-top: 8px;
    margin-top: 5px;
    margin-left: 25px;
    width: 25px;
    padding-left: 0px;
    border-left-width: 5px;
}

  #autocomplete {
      width: 100%;
      border: none;
    }

   #country {
      width: 100%;
      border: none;
      background-color: white;
    }

     select option{
      color: black;
    }

select{
    color: grey;
}

.hola option:checked { color: grey; }
}
