<!--
  Generated template for the Formulario page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>Perfil de usuario</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="pop($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> 

<ion-content padding class="content">
      <ion-avatar class="animated fadeInDown">
          <img src={{userimage}}>
      </ion-avatar>
      <button ion-button clear class="center animated fadeInDown" color="light" (click)="editImage()">Editar foto</button>

  <form [formGroup]="registroForm" (submit)="actualizarUsuario()" novalidate>
    <ion-card>
      <ion-row>
        <ion-col width-20>
          <h1 color="dark" class="h1style">@</h1>
        </ion-col>
        <ion-col width-80>
          <ion-input #usuario formControlName="usuario" [(ngModel)]="username" type="text" placeholder="Nombre de usuario" [class.invalid]="!registroForm.controls.usuario.valid && submitAttempt"></ion-input>
        </ion-col>
      </ion-row>
    </ion-card>
        
          <p *ngIf="registroForm.get('usuario').hasError('required') && submitAttempt">Campo Obligatorio</p>
          <p *ngIf="registroForm.get('usuario').hasError('pattern') && submitAttempt">Nombre de usuario no valido</p>
          <p *ngIf="registroForm.get('usuario').hasError('maxlength') && submitAttempt">No debe sobrepasar los 20 caracteres</p>
          <p *ngIf="registroForm.get('usuario').hasError('minlength') && submitAttempt">Debe contener minimo 5 caracteres</p>
        

    <ion-card>
      <ion-input #nombre formControlName="nombre" [(ngModel)]="nombreUsuario" type="text" placeholder="Nombre y Apellido"  [class.invalid]="!registroForm.controls.nombre.valid && submitAttempt"></ion-input>
    </ion-card>
      <p *ngIf="registroForm.get('nombre').hasError('required') && submitAttempt">Campo Obligatorio</p>
      <p *ngIf="registroForm.get('nombre').hasError('maxlength') && submitAttempt">No debe sobrepasar los 50 caracteres</p>
      <p *ngIf="registroForm.get('nombre').hasError('minlength') && submitAttempt">Debe contener minimo 3 caracteres</p>

    <ion-card>
      <ion-input #correo formControlName="correo" [(ngModel)]="correoUsuario" type="text" placeholder="Correo Electronico"  [class.invalid]="!registroForm.controls.correo.valid && submitAttempt"></ion-input>
    </ion-card>
      <p *ngIf="registroForm.get('correo').hasError('required') && submitAttempt">Campo Obligatorio</p>
      <p *ngIf="registroForm.get('correo').hasError('pattern') && submitAttempt">Correo no valido</p>

    <ion-card>
      <ion-item>
        <ion-label>Genero</ion-label>
          <ion-select formControlName="nada" [(ngModel)]="generoUsuario">
          <ion-option value="f">Femenino</ion-option>
          <ion-option value="m">Masculino</ion-option>
        </ion-select>
        </ion-item>  
    </ion-card>
    
      
    <ion-card>
      <ion-item>
        <ion-label>Facultad</ion-label>
          <ion-select formControlName="nada1" [(ngModel)]="facultadUsuario" >
          <ion-option value="ag" selected="true">Agronomia</ion-option>
          <ion-option value="ar">Arquitectura</ion-option>
          <ion-option value="ce">Ciencias Economicas</ion-option>
          <ion-option value="cj">Ciencias Juridicas</ion-option>
          <ion-option value="cm">Ciencias Medicas</ion-option>
          <ion-option value="cq">Ciencias quimicas y farmacia</ion-option>
          <ion-option value="hu">Humanidades</ion-option>
          <ion-option value="ing">Ingenieria</ion-option>
          <ion-option value="vz">Medicina Veterinaria y Zootecnia</ion-option>
          <ion-option value="odo">Odontologia</ion-option>
        </ion-select>
        </ion-item>  
    </ion-card>

   
    <button ion-fab  class="center" color="secondary" type="submit">
      <ion-icon name="checkmark"></ion-icon>  
    </button>
  </form>
  

</ion-content>
