<ion-content padding class="animated slideInUp">

<div class="centerH">
<h4 class="cent" color="morado">¿Quieres rentabilizar tu negocio? </h4>
<h3 class="cent" color="morado">EMPIEZA AHORA</h3>
 <ion-item class="item-content">
    <ion-label floating color="favorite" text-center>Ingresa el nombre de tu negocio</ion-label>
    <ion-input type="text" [(ngModel)]="nombre" color="favorite"></ion-input>
 </ion-item>

 <ion-item class="item-contet">
  <ion-label floating color="favorite" text-center>Ingresa la direccion de tu negocio</ion-label>
  <ion-input type="text" [(ngModel)]="direccion" color="favorite"></ion-input>
 </ion-item>

  <ion-item class="item-content" >
    <ion-label floating color="favorite" text-center >Sítio Web</ion-label>
    <ion-input [(ngModel)]="web" type="text"></ion-input>
 </ion-item>

  <ion-item class="item-content" >
    <ion-label floating color="favorite" text-center >Latitud</ion-label>
    <ion-input [(ngModel)]="latitud" type="text"></ion-input>
  </ion-item>

  <ion-item class="item-content" >
    <ion-label floating color="favorite" text-center >Longitud</ion-label>
    <ion-input [(ngModel)]="longitud" type="text"></ion-input>
  </ion-item>


  <ion-item class="item-content">
    <ion-label floating color="favorite">Categoria</ion-label>
    <ion-select [(ngModel)]="categoria">
      <ion-option value="pizza">Pizza</ion-option>
      <ion-option value="panes">Panes</ion-option>
      <ion-option value="tipica">Tipica</ion-option>
      <ion-option value="granizadas">Granizadas</ion-option>
      <ion-option value="postres">Postres</ion-option>
    </ion-select>
  </ion-item>


</div>
</ion-content>
<ion-footer >
<button ion-fab color="morado" class="center" large (click)="sig()">
  <ion-icon name="arrow-down"></ion-icon>
</button>
</ion-footer>