<!--
  Generated template for the Map page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Map</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card-content #map id="map"></ion-card-content>
</ion-content>
