<ion-menu [content]="content" >
  <ion-header>
    <ion-toolbar color="danger">
    <ion-row>
    <ion-col width-80>
      <ion-item color="danger">
        <ion-avatar item-left>
          <img src={{userImage}}>
        </ion-avatar>
        <h2>{{name}}</h2>
        <p>{{username}}</p>
      </ion-item>
    </ion-col>
    <ion-col width-20>
    <button ion-button  menuClose large color="dark" clear (click)="opensettings()">
      <ion-icon name="settings"></ion-icon>
    </button>
    </ion-col>
    </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content">
    <ion-list>
      <button menuClose ion-item  *ngFor="let p of pages" (click)="openPage(p)">
      <img src={{p.icon}}>  
      {{p.title}}
      </button>

    <button menuClose ion-item  (click)="salir()">
      <ion-icon name="exit"></ion-icon>
      Salir
    </button>

    </ion-list>
  </ion-content>

  <ion-footer *ngIf="checkRestaurant()" menuClose (click)="registroRestaurante()">
    <ion-row>
      <ion-col width-10>
    </ion-col>
    <ion-col width-20>
      <img src="">  
    </ion-col>
    <ion-col width-60>
      <h4 ion-text color="light">Registra tu Comercio</h4>
      <p ion-text color="light">Rentabiliza tus servicios<br>alimenticios</p>
    </ion-col>
    <ion-col width-10>
    </ion-col>
    </ion-row>
  </ion-footer>

  <ion-footer *ngIf="!checkRestaurant()" menuClose>
    <ion-row>
      <ion-col width-10>
    </ion-col>
    <ion-col width-20>
      <img src="">  
    </ion-col>
    <ion-col width-60>
      <h4 ion-text color="light">Registra tu Comercio</h4>
      <p ion-text color="light">Rentabiliza tus servicios<br>alimenticios</p>
    </ion-col>
    <ion-col width-10>
    </ion-col>
    </ion-row>
  </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>