page-principal {
    .content {
  background-color: #FFFFFF; 
}
.footer {
  background-color: #663399; 
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
}
p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
}
