<ion-content no-padding >

<ion-slides  #mySlider [options]="mySlideOptions" class="animated bounceInRight" no-padding>
 <ion-slide no-padding >
   <div class="content1">
      <h4 ion-text color="favorite" text-uppercase text-center><strong>LunchBox</strong></h4>
      <p ion-text color="favorite" text-center><strong color="secondary">LunchBox</strong> una forma más social <br>para
      encontrar los mejores lugares para<br>comer en tu universidad. </p>
    </div>

    <div no-padding>
        
            <img src="assets/imgs/logo.png">
         
    </div>
    
  </ion-slide>
</ion-slides>
</ion-content> 

<ion-footer>
  <ion-row class="button-bar">
    <ion-col width-50>
      <button ion-button block color="danger" (click)="login()" class="animated bounce">Iniciar sesión</button>
    </ion-col>
    <ion-col width-50>
      <button ion-button block color="secondary" (click)="registro()" class="animated bounce">Regístrate</button>
    </ion-col>
  </ion-row>
</ion-footer>