page-comercio2 {
    .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.centerH{
    position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
}
h4.cent {
    text-align: center;
}
p.cent {
    text-align: center;
}
h3.cent {
	text-transform:uppercase;
    text-align: center;
    font-weight: bold;
}
button.radio{
	height: 145px;
	width: 135px;
}
img.radio{
    height: 145px;
	width: 135px;
}
}
