<!--
  Generated template for the Comercio2 page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="animated slideInUp">
<button ion-fab color="favorite" class="center" navPop>
  <ion-icon name="arrow-up"></ion-icon>
</button>
<div class="centerH">
<h4 color="primary" class="cent">Agrega una fotografía de negocio</h4>
<button ion-fab color="favorite" class="center radio" large (click)="editImage()">
  <div *ngIf="restaurantImage != null">
    <img src="{{restaurantImage}}" class="center radio" clear>
  </div>
    <div *ngIf="!restaurantImage">
    <img src="assets/img/imageicon.png" class="center radio" clear>
    </div>
</button>
</div>

</ion-content>
<ion-footer >
<button ion-fab color="morado" class="center" large (click)="guardar()" >
  <ion-icon name="checkmark"></ion-icon>
</button>
</ion-footer>